services:
  localstack:
    image: localstack/localstack
    container_name: localstack
    ports:
      - "4566:4566"
    environment:
      - SERVICES=s3,cognito-idp,dynamodb,lambda
      - DEBUG=1
    volumes:
      - "./localstack:/var/lib/localstack"
    networks:
      - local-net

  moto:
    image: motoserver/moto:latest
    container_name: moto
    environment:
      - MOTO_BIND_HOST=0.0.0.0
      - MOTO_PORT=5000
      - MOTO_ALLOW_NONEXISTENT_SERVICE=True
    command: ["-H", "0.0.0.0", "-p", "5000"]
    ports:
      - "5001:5000"
    networks:
      - local-net

  mailhog:
    image: mailhog/mailhog
    ports:
      - "8025:8025" # Web UI
      - "1025:1025" # SMTP
    networks:
      - local-net

networks:
  local-net:
    driver: bridge
